@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gold {
  display: inline-block;
  background: linear-gradient(
    90deg,
    #ae8625 0%,
    #f7ef8a 32%,
    #d2ac47 64%,
    #edc967 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-gold {
  border-image: linear-gradient(
      90deg,
      #ae8625 0%,
      #f7ef8a 32%,
      #d2ac47 64%,
      #edc967 100%
    )
    1;
}
